<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sast.material.mapper.SysMaterialDocMapper">

    <select id="selectInfoById" parameterType="int" resultType="SysMaterialDoc">
        SELECT *
        FROM material.material_doc
        WHERE mid = #{mid}
    </select>

    <select id="selectInfo" parameterType="int" resultType="SysMaterialDoc">
        SELECT *
        FROM material.material_doc
        WHERE id = #{id}
    </select>

    <insert id="addInfo">
        INSERT INTO material.material_doc (mid, doc_uuid, doc_type)
        VALUES (#{mid}, #{docUUID}, #{docType})
    </insert>

    <delete id="deleteInfo" parameterType="int">
        DELETE
        FROM material.material_doc
        WHERE id = #{id}
    </delete>

    <delete id="deleteInfoByMaterial" parameterType="int">
        DELETE
        FROM material.material_doc
        WHERE mid = #{mid}
    </delete>

    <update id="updateImgInfo" parameterType="int">
        UPDATE material.material_doc
        SET doc_uuid = #{docUUID},
            doc_type = #{docType}
        WHERE id = #{id}
    </update>


</mapper>